@charset "UTF-8";

/* 구글아이콘 (google font */
@import url("https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200");


/* 온글잎 지우쏘낭 */
@font-face {
  font-family: 'Ownglyph_jiwoosonang';
  src: url('https://fastly.jsdelivr.net/gh/projectnoonnu/2408@1.0/Ownglyph_jiwoosonang.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
}


/* -----------------------------시작---------------------------- */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'goorm-sans-code';
  font-weight: 800;
  line-height: 21px;
  /* outline: 1px solid navy; */
}
/* 부트스트랩때문에 생기는 자동 마진 초기화 시키기 */
p,
button,
h1,
h2,
h3,
h4,
h5,
h6,
ul,
li {
  padding: 0;
  margin: 0;
}

body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.record-list {
  max-width: 430px;
  width: 100%;
  height: 100vh;
  background: #81ADCA;
  color: #fff;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 50px;
  gap: 30px;
}


h1 {
  font-size: 24px;
}

ul {
  list-style-type: none;
}

li {

  background: #81ADCA;
  box-shadow: 0px 2px 2px 2px rgba(0, 0, 0, 0.25);
  padding: 10px;
  border-radius: 10px;
  position: relative;
  margin-bottom: 20px;
}

.edit-button,
.delete-button {
  background: #3D759A;
  color: #fff;
  border: none;
  padding: 3px 5px;
  border-radius: 5px;
  cursor: pointer;
  /* margin-left: 5px; */
}

.delete-button {
  background: #c23d3d;
}

.edit-button:hover {
  background: #2c5a7a;
}

.delete-button:hover {
  background: #a32d2d;
}

.back-button {
  display: inline-block;
  padding: 10px 20px;
  background: #3D759A;
  color: #fff;
  text-decoration: none;
  border-radius: 5px;
  /* margin-top: 20px; */
}

.back-button:hover {
  background: #2c5a7a;
}

.modal {
  display: none;
  position: fixed;
  /* max-width: 430px; */
  top: 0;
  /* left: 20%; */
  width: 430px;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  justify-content: center;
  align-items: center;
  z-index: 100;
}

.modal-content {
  background: #fff;
  padding: 25px;
  border-radius: 10px;
  width: 80%;
  max-width: 430px;
  position: relative;
}

.close-button {
  position: absolute;
  top: 10px;
  right: 10px;
  font-size: 24px;
  cursor: pointer;
  color: #515151;
}

.modal label {
  display: block;
  margin-top: 10px;
}

.modal input,
.modal select {
  width: 100%;
  padding: 10px;
  margin-top: 5px;
  border: 1px solid #ddd;
  border-radius: 5px;
}

.modal button {
  background: #3D759A;
  color: #fff;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  margin-top: 10px;
  width: 100%;
}

.modal button:hover {
  background: #2c5a7a;
}
h2 {
  color: #515151;
}